.NavLinksContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.LinksWrapper {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  list-style: none;
  background-color: #fff;
  width: 100%;
  flex-direction: column;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 100;
}

.LinkItem {
  height: 100%;
  padding: 0;
  color: #e6e6e6;
  font-weight: 500;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Link {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.Marginer {
  height: 2em;
}
