.NavSection {
  display: flex;
  flex: 2;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.NavLinksContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.LinksWrapper {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  list-style: none;
}

.LinkItem {
  height: 100%;
  padding: 0 .5em;
  color: #e6e6e6;
  font-weight: 500;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Link {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

@media screen and (min-width: 992px) {
  .NavSection {
    justify-content: flex-start;
  }
  .LinkItem {
    border-top: 2px solid transparent;
    transition: all 220ms ease-in-out;

    &:nth-child(n) {
      &:hover {
        border-top: 5px solid #e6e6e6;
      }
    }

    &:nth-child(5) {
      color: #ee9966;

      &:hover {
        border-top: 5px solid #e5dfcc;
      }
    }
  }
}