.AccordionText {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.backToTop {
    display: block;
    position: fixed;
    cursor: pointer;
    bottom: 30px;
    right: 0;
    color: #ffffff;
    background-color: #4a6977;
    z-index: 1;
    width: 90px;
    text-align: center;
    height: 45px;
    border-radius: 10px 0 0 10px;
    line-height: 46px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.backToTop:hover {
    transform: scale(1.1);
}

.movegradient {
  line-height: 1.15;
  background: linear-gradient(to left, #F5F5F5 20%, #305364 50%, #F5F5F5 80%);
  background-size: 450% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: right 2.5em;
  animation: shine 6s linear infinite;
}

.banner {
  filter: grayscale(.9);
  animation: .5s ease-in-out forwards 1s emerge;
}

.firstCard::before {
    content: '';
    position: absolute;
    width: 6px;
    height: calc(50% - 1px);
    top: 0;
    right: -52px;
    background: #0a0a0a;
}

.rightCard::after {
  content: '';
  position: absolute;
  background: var(--roadmap-line-color);
  width: 24px;
  height: 2px;
  left: -48px;
  top: 50%;
  transform: translateY(-50%);
}

.leftCard::after {
  content: '';
  position: absolute;
  background: var(--roadmap-line-color);
  width: 24px;
  height: 2px;
  right: -48px;
  top: 50%;
  transform: translateY(-50%);
}

.cardRow {
  display: flex;
  margin-bottom: -24px;
}

.cardRow:nth-child(2n) {
  justify-content: flex-end;
}


.card {
  position: relative;
  border-radius: 3px;
  color: #000;
  background: white;
  box-shadow: 0 4px 20px 0 #0000001e;
  padding: 24px;
  display: inline-block;
  max-width: calc(50% - 48px);
}

.cardWrapper {
  padding: 24px;
  position: relative;
}

.cardWrapper::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 90%;
  left: 50%;
  top: 64px;
  background: var(--roadmap-line-color);
}

@keyframes emerge {
  from {
    filter: grayscale(.9);
  }
  to {
    filter: grayscale(0);
  }
}

@keyframes shine {
  to {
    background-position: left 100%;
  }
}