@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
  &:after {
    position: absolute;
    content: "";
    top: $y;
    left: $x;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale($size);
    -webkit-filter: blur($spread);
    -moz-filter: blur($spread);
    -ms-filter: blur($spread);
    filter: blur($spread);
    background: linear-gradient(270deg, $colorA, $colorB);
    background-size: 100% 100%;
    animation: animateGlow $duration ease infinite;

    @keyframes animateGlow {
      0% {
        background-position: 0% 50%
      }

      50% {
        background-position: 100% 50%
      }

      100% {
        background-position: 0% 50%
      }
    }
  }
}

.mintImgWrapper {
  position: relative;
  text-align: center;
  color: #252B37;
  animation: textColor 6s ease infinite;
  @include backlight(0, 0, 5vw, 0.75, #0fffc1, #7e0fff, 6s)
}

.mintBgImg {
  display: none;
}

@media (min-width: 1024px) {
  .mintBgImg {
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    top: 10vh;
    z-index: -1;
    // position: absolute;
    // &:nth-child(2) {
    //   left: 0px;
    // }
    // &:nth-child(3) {
    //   left: calc(205px + (100vw - 1024px) / 4);
    // }
    // &:nth-child(4) {
    //   left:  calc(410px + (100vw - 1024px) / 4 * 2);
    // }
    // &:nth-child(5) {
    //   left: calc(615px + (100vw - 1024px) / 4 * 3);
    // }
    // &:nth-child(6) {
    //   left: calc(820px + 100vw - 1024px);
    // }
  }
}
